USE [DataMigration]
GO

/****** Object:  Table [dbo].[dm_log]    Script Date: 2/8/2016 2:36:56 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[dm_log](
	[test_area] [VARCHAR](MAX) NULL,
	[test_type] [VARCHAR](MAX) NULL,
	[rfo_column] [VARCHAR](MAX) NULL,
	[hybris_column] [VARCHAR](MAX) NULL,
	[hyb_key] [VARCHAR](MAX) NULL,
	[hyb_value] [VARCHAR](MAX) NULL,
	[rfo_key] [VARCHAR](MAX) NULL,
	[rfo_value] [VARCHAR](MAX) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[map_tab]    Script Date: 2/8/2016 2:34:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[map_tab](
	[id] [smallint] NOT NULL,
	[Schema ] [varchar](225) NULL,
	[RFO_Table] [varchar](max) NULL,
	[RFO_Column ] [varchar](max) NULL,
	[RFO_DataType ] [varchar](225) NULL,
	[RFO_Reference Table] [varchar](225) NULL,
	[Hybris_Table] [varchar](max) NULL,
	[Hybris_Column ] [varchar](max) NULL,
	[Hybris_Reference Table] [varchar](225) NULL,
	[Hybris_DataType] [varchar](225) NULL,
	[flag] [varchar](225) NULL,
	[owner] [varchar](225) NULL,
	[prev_run_err] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[map_tab] ([id], [Schema ], [RFO_Table], [RFO_Column ], [RFO_DataType ], [RFO_Reference Table], [Hybris_Table], [Hybris_Column ], [Hybris_Reference Table], [Hybris_DataType], [flag], [owner], [prev_run_err]) VALUES (1, N'Hybris', N'Autoship', N'coalesce(enddate, ''1900-01-01'')', N'datetime', N'enddate', N'Orders', N'p_cancelationdate', N'', N'datetime', N'c2c', N'824-Autoship', 0)
INSERT [dbo].[map_tab] ([id], [Schema ], [RFO_Table], [RFO_Column ], [RFO_DataType ], [RFO_Reference Table], [Hybris_Table], [Hybris_Column ], [Hybris_Reference Table], [Hybris_DataType], [flag], [owner], [prev_run_err]) VALUES (2, N'Hybris', N'Autoship', N'active', N'bit', N'active', N'Orders', N'p_active', N'', N'tinyint', N'c2c', N'824-Autoship', 0)
INSERT [dbo].[map_tab] ([id], [Schema ], [RFO_Table], [RFO_Column ], [RFO_DataType ], [RFO_Reference Table], [Hybris_Table], [Hybris_Column ], [Hybris_Reference Table], [Hybris_DataType], [flag], [owner], [prev_run_err]) VALUES (3, N'Hybris', N'(select asp.autoshipid, asp.autoshipnumber, count(*) ordercount
from #tempact asp,
hybris.orders ord 
where asp.autoshipid = ord.autoshipid 
and ord.orderstatusid not in (1,3) 
group by asp.autoshipid, asp.autoshipnumber)a', N'coalesce(a.ordercount, 0)', N'', N'ordercount', N'Orders', N'p_ordercount', N'', N'int', N'manual', N'824-Autoship', 0)
GO
